doctype html
html(lang=locale)

  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")

  title Cozy - Konnectors

  link(rel="apple-touch-icon", sizes="180x180", href="/apps/konnectors/apple-touch-icon.png")
  link(rel="icon", type="image/png", href="/apps/konnectors/favicon-32x32.png", sizes="32x32")
  link(rel="icon", type="image/png", href="/apps/konnectors/favicon-16x16.png", sizes="16x16")
  link(rel="manifest", href="/apps/konnectors/manifest.json")
  link(rel="mask-icon", href="/apps/konnectors/safari-pinned-tab.svg", color="#5bbad5")
  link(rel="shortcut icon", href="/apps/konnectors/favicon.ico")
  meta(name="apple-mobile-web-app-title", content="Cozy MyAccounts")
  meta(name="application-name", content="Cozy MyAccounts")
  meta(name="msapplication-config", content="/apps/konnectors/browserconfig.xml")
  meta(name="theme-color", content="#ffffff")

  link(rel="stylesheet" href="/fonts/fonts.css")
  link(rel="stylesheet" href=`app${hash}.css`)

  if imports
    script.
      window.initKonnectors = !{JSON.stringify(imports.konnectors)}
      window.initFolders = !{JSON.stringify(imports.folders)}
      window.context = '!{imports.context}'
  script(src=`app${hash}.js` defer=true)

  div(role="application")
