doctype html
html(lang=locale)

  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")

  title Cozy - Konnectors

  link(rel="stylesheet" href="/fonts/fonts.css")
  link(rel="stylesheet" href=`app${hash}.css`)

  if imports
    script.
      window.initKonnectors = !{JSON.stringify(imports.konnectors)}
      window.initFolders = !{JSON.stringify(imports.folders)}
  script(src=`app${hash}.js` defer=true)

  div(role="application")

