#menu-toggler
    .fa.fa-bars

div#default.default
    header
    p=t('home headline')
    ul
        li=t('home config step 1')
        li=t('home config step 2')
        li=t('home config step 3')
    | #{t('home more info')}
    ul
        li=t('home help step 1')
