<!-- .konnector -->
h2.name #{model.name}
.description #{model.description} 
.fields
.buttons 
    button.import-button import
.status #{status}
.infos
    .date 
        span.label Last import:&nbsp;
        span.last-import
    .datas
        | Imported data:&nbsp;
        for name in model.modelNames
            a(href="/apps/databrowser/#search/all/#{name}", target="_blank") 
                  |#{name}
            |&nbsp;
