<!-- .konnector -->

h2.name
    #menu-toggler
        .fa.fa-bars
    span #{model.name}
.description!= t(model.description)
if model.slug != 'edf'
    .fields
    .buttons
        button#import-button #{t('save and import')}
else
    .buttons
        button#import-button #{t('link edf kresus')}

if model.errorMessage
    .error
        span.error=t('error occurred during import:') + ' '
            span.message=t(model.errorMessage)

.status #{status}
.infos
    .date
        span.label #{t('last import:')}&nbsp;
        span.last-import
    .datas
        | #{t('imported data:')}&nbsp;
        for name in model.modelNames
            a(href="/apps/databrowser/#search/all/#{name}", target="_blank")
                  |#{name}
            |  &nbsp;(#{model.amounts[name.toLowerCase()] || 0}) &nbsp;
