<!-- .konnector -->
h2.name #{model.name}
.description #{model.description} 
.fields
.buttons 
    button.import-button import
.status #{status}
.infos
    .date Last import: #{model.importDate}
    .date 
        a(href="/apps/databrowser/search/all/#{model.dataName}") See data
